generic-service:
  serviceAccountName: hmpps-assess-risks-and-needs-integrations
  nameOverride: hmpps-assess-risks-and-needs-handover-service
  productId: "" # productId for the product that this belongs too, i.e. DPS001, see README.md for details

  replicaCount: 4

  image:
    repository: ghcr.io/ministryofjustice/hmpps-assess-risks-and-needs-handover-service
    tag: app_version # override at deployment time
    port: 8080

  ingress:
    enabled: true
    host: app-hostname.local # override per environment
    tlsSecretName: hmpps-assess-risks-and-needs-handover-service-cert
    modsecurity_enabled: true
    modsecurity_snippet: |
      SecRuleEngine DetectionOnly
      SecRuleUpdateActionById 949110 "t:none,deny,status:406,logdata:%{SERVER_NAME}"
      SecRuleUpdateActionById 959100 "t:none,deny,status:406,logdata:%{SERVER_NAME}"
      SecAction "id:900000,phase:1,nolog,pass,t:none,setvar:tx.paranoia_level=2"

  # Environment variables to load into the deployment
  env:
    JAVA_OPTS: "-Xmx512m"
    SERVER_PORT: "8080"
    SPRING_PROFILES_ACTIVE: "logstash"
    APPLICATIONINSIGHTS_CONNECTION_STRING: "InstrumentationKey=$(APPINSIGHTS_INSTRUMENTATIONKEY)"
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: applicationinsights.json
    HMPPS_SQS_USE_WEB_TOKEN: "true"

  # Pre-existing kubernetes secrets to load as environment variables in the deployment.
  # namespace_secrets:
  #   [name of kubernetes secret]:
  #     [name of environment variable as seen by app]: [key of kubernetes secret to load]

  namespace_secrets:
    hmpps-assess-risks-and-needs-handover-service:
      APPINSIGHTS_INSTRUMENTATIONKEY: "APPINSIGHTS_INSTRUMENTATIONKEY"
      CLIENT_SP_SECRET: "CLIENT_SP_SECRET"
      CLIENT_SAN_SECRET: "CLIENT_SAN_SECRET"
      CLIENT_AAP_SECRET: "CLIENT_AAP_SECRET"
      JWK_PEM_ENCODED: "JWK_PEM_ENCODED"
      JWK_PEM_SECRET: "JWK_PEM_SECRET"
      CLIENT_ID: "HANDOVER_CLIENT_ID"
      CLIENT_SECRET: "HANDOVER_CLIENT_SECRET"
    hmpps-assess-risks-and-needs-integrations-elasticache-redis:
      REDIS_HOST: "primary_endpoint_address"
      REDIS_AUTH_TOKEN: "auth_token"
    hmpps-sqs-audit-queue:
      HMPPS_SQS_QUEUES_AUDIT_QUEUE_NAME: "sqs_queue_name"

  allowlist:
    groups:
      - circleci
      - internal
      - prisons

generic-prometheus-alerts:
  targetApplication: hmpps-assess-risks-and-needs-handover-service
