---
# Per environment values which override defaults in hmpps-assess-risks-and-needs-handover-service/values.yaml

generic-service:
  replicaCount: 2

  ingress:
    host: arns-handover-service-test.hmpps.service.justice.gov.uk

  env:
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: applicationinsights.dev.json
    HMPPS_AUTH_BASE_URL: "https://sign-in-dev.hmpps.service.justice.gov.uk"
    HMPPS_HANDOVER_BASE_URL: "https://arns-handover-service-test.hmpps.service.justice.gov.uk"
    OASYS_BASE_URL: "https://arns-oastub-test.hmpps.service.justice.gov.uk"
    OASYS_RETURN_URLS: "https://arns-oastub-test.hmpps.service.justice.gov.uk,http://10.0.1,https://t2-b.oasys.service.justice.gov.uk,http://192.168.56.21"
    COORDINATOR_API_BASE_URL: "https://arns-coordinator-api-test.hmpps.service.justice.gov.uk"
    CLIENT_SP_OAUTH_REDIRECT_URI: "https://sentence-plan-test.hmpps.service.justice.gov.uk/sign-in/handover/callback"
    CLIENT_SP_HANDOVER_REDIRECT_URI: "https://sentence-plan-test.hmpps.service.justice.gov.uk/sign-in/handover"
    CLIENT_SAN_OAUTH_REDIRECT_URI: "https://strengths-based-needs-assessments-test.hmpps.service.justice.gov.uk/sign-in/callback"
    CLIENT_SAN_HANDOVER_REDIRECT_URI: "https://strengths-based-needs-assessments-test.hmpps.service.justice.gov.uk/sign-in"
    CLIENT_AAP_OAUTH_REDIRECT_URI:  "https://arns-assessment-platform-test.hmpps.service.justice.gov.uk/sign-in/callback"
    CLIENT_AAP_HANDOVER_REDIRECT_URI: "https://arns-assessment-platform-test.hmpps.service.justice.gov.uk/sign-in"

  allowlist:
    mp-nat-egress-one: 13.43.9.198/32
    mp-nat-egress-two: 13.42.163.245/32
    mp-nat-egress-three: 18.132.208.127/32    
    nat-gw-one: 35.178.209.113/32
    nat-gw-two: 3.8.51.207/32
    nat-gw-three: 35.177.252.54/32
    capita-dev: 51.104.16.30/31
    captia-further: 172.167.141.40/32
    capita-developers-vms-one: 85.115.52.180/32
    capita-developers-vms-two: 85.115.52.200/29
    capita-developers-vms-three: 85.115.53.180/32
    capita-developers-vms-four: 85.115.53.200/29
    capita-developers-vms-five: 85.115.54.180/32
    capita-developers-vms-six: 85.115.54.200/29
    oasys-box-t2 : 10.26.12.211/32
    neil-test: 51.155.102.238/32
    user-vision-testers: 5.181.59.114/32


# CloudPlatform AlertManager receiver to route prometheus alerts to slack
# See https://user-guide.cloud-platform.service.justice.gov.uk/documentation/monitoring-an-app/how-to-create-alarms.html#creating-your-own-custom-alerts
generic-prometheus-alerts:
  alertSeverity: NON_PROD_ALERTS_SEVERITY_LABEL
