name: Run end-to-end tests

on:
  workflow_call:

permissions:
  contents: read

jobs:
  e2e_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Stand up a test environment
        run: make test-up

      - name: Run the end-to-end tests
        run: make e2e-ci

      - name: Export container logs
        if: failure()
        run: make save-logs OUTPUT_LOGS_DIR=${{ runner.temp }}/docker-logs PROJECT_NAME="hmpps-assess-risks-and-needs-test"

      - name: Upload test results
        if: '!cancelled()'
        uses: actions/upload-artifact@v6
        with:
          name: e2e_test_results
          path: |
            test_results
            e2e/cypress/screenshots
            ${{ runner.temp }}/docker-logs
